.card{    
    border-style: groove;    
    border-width: 7px;
    border-color: white;
    background-color: grey;
    margin-top: 10px;
}

.divButton{
    display: flex;
    justify-content: space-between;
}

.buttonCard{
    font-size: xx-large;
    font-style: oblique;
    color: red;
    border-style: none;
    background: none;

}

.favoriteButtonOff{
    font-size: xx-large;
    font-style: oblique;
    color: white;
    border-style: none;
    background: none;

}

.descriptionbox{
    
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;  
}

.imgChar{
    border-style: groove;    
    border-color: black;
    border-radius: 5%;
}

.description{
    display: flex;
    align-items:  center;
    text-align: center;   
}

@media (max-width:420px) {
    .descriptionbox{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .imgChar{
        max-width: 100%;
    }

}