.divForm {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    align-items: center;
    border-style: groove;
    border-width: 7px;
    border-color: white;
    background-color: grey;
    height: 250px;
    border-radius: 20px;

}
.divCaptura{
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
}

.loginText {
    display: flex;
    justify-content: center;
    font-size: 250%;
}

.inputLogin {
    font-size: large;
    font-style: oblique;
    height: 35px;
    padding: 10px;
}
.dangerInputLogin{
    font-size: large;
    font-style: oblique;
    height: 35px;
    padding: 10px;
    border-color: red;
}

.labelLogin {
    font-size: xx-large;
    font-style: oblique;
    color: blue;
    padding: 10px;
}

.buttonLogin {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bold;
    border-style: none;
    background: none;
    width: fit-content;
    height: fit-content;
}

.buttonLogin:hover{
    color: red;
}