.divForm {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-style: groove;
    border-width: 7px;
    border-color: white;
    background-color: grey;
    height: 320px;
    border-radius: 20px;

}

.divCaptura {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.loginText {
    display: flex;
    justify-content: center;
    font-size: 250%;
}

.dangerInputLogin,
.inputLogin {
    font-size: large;
    font-style: oblique;
    height: 35px;
    padding: 10px;
}

.dangerInputLogin {
    border-color: red;
}

.labelLogin {
    font-size: xx-large;
    font-style: oblique;
    color: blue;
    padding: 10px;
}

.buttonLogin {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bold;
    border-style: none;
    background: none;
    width: fit-content;
    height: fit-content;
    padding-bottom: 20px;
}

.buttonLogin:hover {
    color: red;
}

.spanError {
    color: red;
    width: fit-content;
    height: fit-content;
    ;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 30px;
}

.divError {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:420px) {
    .divForm {
        flex-direction: row;
        justify-content: center;
        height: auto;
    }

    .divFormInput {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dangerInputLogin,
    .inputLogin {
        height: auto;
    }
}